body,
html,
#app {
  height: 100%;
  min-width: 1500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.el-table__row {
  height: 60px;
}

.el-table__header {
  height: 50px;
}

.el-input {
  height: 40px;
}

.el-pagination {
  margin-top: 20px;
  justify-content: center;
}

.el-pagination__sizes .el-input .el-input__inner {
  font-size: 13px;
  padding-left: 8px;
}

.el-select .el-input__wrapper,
.el-pagination .el-input__wrapper {
  width: 10px;
  margin-top: 5px;
  height: 30px;
}

:root {
  --el-color-primary: #ffc200 !important
}

